.border-blue {
    border: 1px dotted blue;
}

.card { /*card and all divs*/

    background-color: rgb(188, 206, 218);
    background-color: rgb(216, 178, 102);

    /*room at top of page*/
    
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

    /* content from border*/
    padding: 20px;

    /*responsive*/
    display: flexbox;

    justify-content: flex-start;

}

.avatar { /*astronaut logo*/

    /* prevent taking up whole page*/
    width: 50%;

    /*surrounds astronaut*/
    border: 5px solid rgb(69, 95, 175);

    display: flex;
}

.italic {
        font-style: italic;

    /*
    applied to: 
    location         
    */
}