.border-blue {
    border: 1px dotted blue;
}

.image-card { /*image and divs*/
    /*room at top of page*/
    margin-top: 20px;

    /* content from border*/
    padding: 20px;

    /*responsive*/
    display: flexbox;

    
}

.avatar { /*astronaut logo*/

    /* prevent taking up whole page*/
    width: 50%;

    /*surrounds astronaut*/
    border: 5px solid rgb(86, 192, 86);



}

.italic {
        font-style: italic;

    /*applied to: 
    location*/
}