.border-blue {
    border: 1px dotted #4a4e69;
    border-radius: 10%;
    background-color: #c9ada7
}




.card {
    width: 400px;
    margin: auto auto;
    padding: 20px;
    display: flexbox;
    justify-content: space-around;
    text-align: center;
    background: #9a8c98 ;
    color: #f2e9e4;

    border-top: 3px solid #192750;
    border-bottom: 6px solid rgb(25, 39, 80);
    border-radius: 20%;
    
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}





/*
.card { /*card and all divs*/

    /*
    background-color: rgb(188, 206, 218);
    background-color: rgb(216, 178, 102);
    */
/*
    width: 400px;
    
    
    /*room at top of page*/
/*    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

    /* content from border*/
 /*   padding: 20px;
/*
    /*responsive*/
/*    display: flexbox;

    justify-content: center;
/*
    /*font color*/
/*    color: rgb(38, 44, 44);
*/






.avatar { /*astronaut logo*/

    /* prevent taking up whole page*/
    width: 40%;

    /*surrounds astronaut*/
    border: 5px solid rgb(25, 39, 80);

    box-shadow: #2a9d8f -2px 1px 50px 1px;

    /* centered astro */
    display: flex center;

    opacity: .92;
}






.italic {
        font-style: italic;

    /*
    applied to: 
    location         
    */
}